/* Backgrounds */
.back{
    background-color: #1c2826;
}

p{
    color: #FDFFFC;
    font-family: Arial;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
}

/* Word style */
h1{
    color: #FDFFFC;
    font-family: 'Franklin Gothic Medium';
}

h2{
    color: #FDFFFC;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

h3{
    color: #FDFFFC;
    font-family: 'Franklin Gothic Medium';
    font-size: medium;
}

nav{
   margin-top: 10px;
   margin-bottom: 10px;
}

.thewho{
    color: #FDFFFC;
    margin-bottom: 2px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
} 

.label1{
    color: #FDFFFC;
}

.label2{
    color: #FDFFFC;
    margin: 10px 10px;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

.navi > a{
    color:  #FDFFFC;
    font-family: 'Franklin Gothic Medium';
    font-size: x-large;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Schibsted Grotesk', sans-serif;
    text-align: center;
}

.navi :hover{
    color:  #546965;
}

.cards{
    font-family: Arial;
    color: #1c2826;
    font-size: large;
}


/* Sections */
.present{
    text-align: center;
    margin-top: 20px;
}

.linker{
    margin: 2px;
}

#skills{
    text-align: center;
    margin-bottom: 4em;
    margin-top: 4em;
}

#skills > img{
    margin: 2em;
}

.contact > a{
    margin: 1em;
}

#touch{
    text-align: center;
    margin-top: 8em;
    width: 500px;
    margin-bottom: 4em;
}


.cardz{
    width: 30rem;
}
/* Others*/

.button-education{
    border-radius: 20px;
    padding: 10px 20px;
    background-color: red;
    color:white;
    border-color: red;
    width: 7em;
    height: 3em;
    text-decoration: none;
}

.button-education:hover{
    background-color: pink;
    color:black;
    border-color: black;
}

.button-touch{
    border-radius: 20px;
    background-color: red;
    color:white;
    border-color: red;
    width: 7em;
    height: 3em;
}

.button-touch:hover{
    background-color: pink;
    color:black;
    border-color: black;
}